<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/nav.css') }}">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="topnav">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Listings</button>
          <div class="dropdown-content">
            <a href="{{ url_for('listing') }}">Look for listings</a>
            <a href="{{ url_for('sList') }}">Bookmarked Listings</a>
            <a href="{{ url_for('pList') }}">Your Listings</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">List your lease</button>
          <div class="dropdown-content">
            <a href="{{ url_for('vdc') }}">VDC</a>
            <a href="{{ url_for('vdcn') }}">VDCN</a>
            <a href="{{ url_for('plaza') }}">Plaza Verde</a>
            <a href="{{ url_for('puerta') }}">Puerta Del Sol</a>
            <a href="{{ url_for('arroyo') }}">Arroyo Vista</a>
          </div>
        </div>
      </div> 
    </nav>
    <div>
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>