{% extends 'base.html' %}
{% block title %} VDC Form {% endblock %}

{% block content %}
    <h1>Lease Info</h1>
    <body>
        <form action="{{ url_for('add_listing') }}" method="POST">
            <p>Community
                <select name="Community">
                    {% for community in communities %}
                        <option value= "{{community}}" SELECTED>{{community}}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>Room Type 
                <select name="Room Type">
                    {% for roomtype in roomtypes %}
                        <option value= "{{roomtype}}" SELECTED>{{roomtype}}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>Gender
                <select name="Gender">
                    {% for gender in genders %}
                        <option value= "{{gender}}" SELECTED>{{gender}}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>Unit Number <input type="number" name="Unit" /></p>
            <p>Lease Type
                <select name="Lease Type">
                    {% for leasetype in leasetypes %}
                        <option value= "{{leasetype}}" SELECTED>{{leasetype}}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>Starting Month
                <select name="Starting Month">
                    {% for startdate in startdates %}
                        <option value= "{{startdate}}" SELECTED>{{startdate}}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>Ending Month
                <select name="Ending Month">
                    {% for enddate in enddates %}
                        <option value= "{{enddate}}" SELECTED>{{enddate}}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>Price <input type="number" name="Price" /></p>
            <p>Description (optional) <input type="text" name="Description" /></p>
            <br/><br/>
            <input type="submit" value="Submit" />
        </form>
    </body>
{% endblock %}